#from graphite-web requirements.txt
Django>=1.4,<1.5.99  # small incompatibilities with 1.6
Twisted==11.1.0
python-memcached==1.47
txAMQP==0.4
simplejson==2.1.6
django-tagging==0.3.1
gunicorn
pytz
pyparsing==1.5.7
#http://cairographics.org/releases/py2cairo-1.8.10.tar.gz  # using system one
git+git://github.com/graphite-project/whisper.git#egg=whisper
git+git://github.com/graphite-project/ceres.git#egg=ceres

#plus carbon reqs
mocker==1.1.1
