{% set grafana = salt['grains.filter_by']({
    'Debian': {
        'revision': 'v1.5.3',
        'graphite': 'graphite.local',
        'elasticsearchUrl': "http://"+window.location.hostname.replace(/^grafana/,'elastic-search')+":8080",
        'graphiteUrl': "http://"+window.location.hostname.replace(/^grafana/,'graphite')+":8080"
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('grafana', {})) %}

{% set graphite = salt['grains.filter_by']({
    'Debian': {
        'secret_key': 'updateme'
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('graphite',{})) %}


{% set collectd = salt['grains.filter_by']({
    'Debian': {
        'carbon': 'monitoring.local',
        'revision': '5.4.0-ppa1~precise1'
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('collectd',{})) %}


{% set beaver = salt['grains.filter_by']({
    'Debian': {
        'redis': {
            'host': 'localhost',
            'port': 6379,
            'db': 0,
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('beaver',{})) %}



