{% set grafana = salt['grains.filter_by']({
    'Debian': {
        'version': '1.9.1',
        'src': 'http://grafanarel.s3.amazonaws.com/grafana-1.9.1.tar.gz',
        'src_checksum': 'sha256=c328c7a002622f672affbcaabd5e64ae279be1051ee27c62ba22bfed63680508',
        'elasticsearchUrl': '//"+window.location.hostname.replace(/^grafana/,"elasticsearch")+(window.location.port ? ":" + window.location.port : "")+"',
        'graphiteUrl': '//"+window.location.hostname.replace(/^grafana/,"graphite")+(window.location.port ? ":" + window.location.port : "")+"',
        'default_route': '/dashboard/script/overview.js',
        'index': 'grafana-dash',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('grafana', {})) %}

{% set graphite = salt['grains.filter_by']({
    'Debian': {
        'secret_key': 'updateme',
        'data_dir': '/srv/graphite/storage',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('graphite',{})) %}


{% set bucky = salt['grains.filter_by']({
    'Debian': {
        'carbon': 'localhost',
        'port': 8126,
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('bucky',{})) %}


{% set collectd = salt['grains.filter_by']({
    'Ubuntu-12.04': {
        'carbon': 'monitoring.local',
        'revision': '5.4.0-ppa1~precise1',
        'prefix': None
    },
    'default': {
        'carbon': 'monitoring.local',
        'revision': False,
        'prefix': None,
    },
}, grain='osfinger', merge=salt['pillar.get']('collectd',{})) %}


{% set beaver = salt['grains.filter_by']({
    'Debian': {
        'redis': {
            'host': 'localhost',
            'port': 6379,
            'db': 0,
        }
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('beaver',{})) %}



